@media only screen and (min-width:320px) and (max-width:480px) {

    /* smartphones, iPhone, portrait 480x320 phones */

    /* Main page */
    .header {
        font-size: 6vw;
    }

    .signUp,
    .grid-intro,
    .whyus-text,
    .text-services {
        font-size: 5.4vw;
    }

    .modal-content {
        width: 100% !important;
    }

    .grid-maintenance,
    .grid-packages {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-whyus {
        margin-top: 300px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    /* Services Page */
    .grid-our-services {
        margin-top: -30px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #logo {
        height: 200px;
        width: 200px;
    }

    .services-container {
        height: -50px;
    }

    .grid-services {
        grid-template-columns: repeat(1, 1fr) !important;

    }

    .footer-services {
        margin-top: 35%;
    }

    /* Portfolio */
    .container-lawns {
        margin-left: 0% !important;
        width: 100% !important;
    }

    /* Seasonal Services Page */
    .grid-seasonal-services {
        margin-top: -30px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .footer-seasonal-services {
        margin-top: 35%;
    }
}

@media only screen and (min-width:481px) and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    /* Main page */
    .header {
        font-size: 6vw;
    }

    .signUp,
    .grid-intro,
    .whyus-text {
        font-size: 5.4vw;
    }

    .modal-content {
        width: 100% !important;
    }

    .grid-maintenance,
    .grid-packages {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-whyus {
        margin-top: 250px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #logo {
        height: 300px !important;
        width: 300px !important;
        top: 10% !important;
        left: 20% !important;
    }


    /* Services Page */
    .grid-our-services {
        margin-top: -30px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-services {
        grid-template-columns: repeat(1, 1fr) !important;

    }

    .footer-services {
        margin-top: 25%;
    }

    /* Portfolio */
    .container-lawns {
        margin-left: 0% !important;
        width: 100% !important;
    }

    /* Seasonal Services Page */
    .grid-seasonal-services {
        margin-top: -30px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .footer-seasonal-services {
        margin-top: 25%;
    }

}

@media only screen and (min-width:641px) and (max-width:960px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    /* Main page */
    .header {
        font-size: 6vw;
    }

    .container-signup {
        margin-bottom: 40px !important;
    }

    .signUp,
    .grid-intro,
    .whyus-text {
        font-size: 5.4vw;
    }

    .modal-content {
        width: 100% !important;
    }

    .grid-maintenance,
    .grid-packages {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-whyus {
        margin-top: 220px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-our-services {
        margin-top: -30px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #logo {
        height: 300px !important;
        width: 300px !important;
        top: 10% !important;
        left: 25% !important;
    }


    /* Services Page */
    .grid-services {
        grid-template-columns: repeat(1, 1fr) !important;

    }

    .footer-services {
        margin-top: 20%;
    }

    /* Portfolio */
    .container-lawns {
        margin-left: 0% !important;
        width: 100% !important;
    }

    /* Seasonal Services Page */
    .grid-seasonal-services {
        margin-top: -30px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .footer-seasonal-services {
        margin-top: 20%;
    }

}

@media only screen and (min-width:961px) and (max-width:1024px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */

    /* Main Page */
    .header {
        font-size: 6vw;
    }

    .container-signup {
        margin-bottom: 40px !important;
    }

    .signUp,
    .grid-intro,
    .whyus-text {
        font-size: 5.4vw;
    }

    .modal-content {
        width: 100% !important;
    }

    .grid-maintenance,
    .grid-packages {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .grid-whyus {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr) !important;
    }


    #logo {
        height: 300px !important;
        width: 300px !important;
        top: 10% !important;
        left: 30% !important;
    }


    /* Services Page */
    .grid-our-services {
        padding-top: 10%;
        margin-top: -30px;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* Portfolio Page */
    .container-lawns {
        margin-left: 0% !important;
        width: 100% !important;
    }

    /* Seasonal Services Page */
    .grid-seasonal-services {
        padding-top: 10%;
        margin-top: -30px;
        grid-template-columns: repeat(2, 1fr) !important;
    }

}

@media only screen and (min-width:1025px) and (max-width:1280px) {

    /* big landscape tablets, laptops, and desktops */

    /* Main Page */
    .header {
        font-size: 5vw;
    }

    .signUp,
    .grid-intro,
    .whyus-text {
        font-size: 4vw;
    }

    .grid-maintenance {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-whyus {
        margin-top: 5%;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .whyus-text {
        margin-top: -35px !important;
    }

    .modal-content {
        width: 100% !important;
    }

    .container-our-services {
        margin-top: 0% !important;
    }

    /* Portfolio Page */
    .container-lawns {
        margin-left: 0% !important;
        width: 100% !important;
    }

}

@media only screen and (min-width:1281px) and (max-width: 1920px) {

    /* hi-res laptops and desktops */
    .header {
        font-size: 2vw;
    }

    .signUp,
    .grid-intro,
    .whyus-text {
        font-size: 2.5vw;
    }

    .container-signup {
        margin-bottom: 30px !important;
    }

    .modal-content {
        width: 50% !important;
    }

    .grid-maintenance {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .grid-whyus {
        margin-top: 10px;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .whyus-text {
        margin-top: 10% !important;
    }

    #logo {
        height: 300px !important;
        width: 300px !important;
        top: 10% !important;
        left: 40% !important;
    }

    .text-our-services {
        margin-top: 20%;
    }

    .container-our-services {
        margin-top: 0% !important;
    }

}

@media only screen and (min-width:1921px) and (max-width: 3840px) {

    /* higher-res laptops and desktops */
    .header {
        font-size: 2vw;
    }

    .container-signup {
        margin-bottom: 20px !important;
    }

    .signUp,
    .grid-intro,
    .whyus-text {
        font-size: 2vw;
    }

    .modal-content {
        width: 50% !important;
    }

    .grid-maintenance {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .grid-whyus {
        margin-top: 10px;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .whyus-text {
        margin-top: 10% !important;
    }

    #logo {
        height: 300px !important;
        width: 300px !important;
        top: 10% !important;
        left: 40% !important;
    }

    /* Services Page */

    .container-our-services,
    .container-seasonal-services {
        height: 775px;
    }

    #image-truck {
        height: 75% !important;
        width: auto;
    }

    .text-our-services {
        margin-top: 20%;
    }

    .container-our-services {
        margin-top: 0% !important;
    }

}



/* Start of Home Page */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(24, 65, 24, 0.945);
}

li {
    float: left;
    box-sizing: content-box;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover:not(.active) {
    background-color: #0d3519;

}

.active {
    background-color: #108148;
}

/* Header Image + text */

#top-image {
    display: block;
    object-fit: cover;
    height: 400px;
    width: 100%;
    filter: brightness(.5);
}

.header {
    position: relative;
    text-align: center;
    color: rgb(248, 248, 248);
    font-weight: 400;
    margin-bottom: 0px;
}

.center {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 10%;
    left: 10%;
}

.container-signup {
    text-align: center;
    margin: -21px 0px 0;
    top: 50%;
    bottom: 50%;
    height: 200px;
    width: 100%;
    background-color: #1a8f297e;
}

.container {
    text-align: center;
    margin: -21px 0px 0;
    top: 50%;
    bottom: 50%;
    height: 200px;
    width: 100%;
    background-color: #1a8f297e;
}

.signUp {
    padding-top: 50px;
    font-weight: bold;
}

.button-signup {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #1e7030;
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 0px 1px #000000;
}

.button-signup:hover {
    background-color: #042213;
    cursor: pointer;
}


/* Sign Up Form Popup */

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 50px auto;
    width: 60%;
}

h2,
p {
    margin: 0 0 20px;
    font-weight: 400;
    color: #0a0a0a;
}

span {
    color: #000000;
    display: block;
    padding: 0 0 5px;
}

form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #074411;
    background: #eee;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

textarea {
    padding: 10px;
    width: 91%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

button:hover {
    background: #2371a0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.button {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
}

button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
}

/* What can we do for you? */

.container2 {
    text-align: center;
    margin: -21px 0px 0;
    top: 50%;
    bottom: 50%;
    height: 400px;
    width: 100%;
    background-color: #ffffff;
}

.grid-intro {
    padding: 2%;
}

.grid-maintenance {
    display: grid;
    grid-template-columns: 33.3% 33.3% 32%;
    gap: 10px;
    padding: 10px;
}

.grid-maintenance>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

button.services {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 30px 0 3px 0;
    font-size: 16px;
    cursor: pointer;
}

/* Why us Section */

.container3 {
    background-color: #1a8f297e;
    width: auto;
    margin-top: 30px;
}

#image-us {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 50px;

}

.grid-whyus {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 50px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.whyus-text {
    margin-top: 10%;
    text-align: left;
    padding: 30px;
    font-size: 20px;

}

/* Reviews Section */
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: rgb(255, 255, 255);
}

/* Slides */
.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}

/* Next & previous buttons */
a.prev,
a.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
a.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
a.prev:hover,
a.next:hover {
    background-color: rgba(0, 0, 0, 0.24);
    color: rgb(255, 255, 255);
}

/* Add a blue color to the author */
.author {
    color: rgba(53, 87, 151, 0.699);
}

.footer {
    display: grid;
    place-items: center;
    height: 450px;
    width: 100;
    background-image: url("assets/tall.jpg");
    background-position: center;

}


/* -------------------------------- services page ----------------------------------- */
/* Services Page */



.grid-our-services {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    padding: 50px;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 75px;
}

.text-our-services {
    font-size: 17px;
}


#logo-services {
    height: 200px;
    width: 200px;
}

.footer {
    padding-top: 10px;
}

.grid-packages {
    display: grid;
    grid-template-columns: 33.3% 33.3% 32%;
    gap: 30px;
    padding: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.maintenance,
.shrub {
    font-size: 18px;
}


/* --------------------------------------------------------------------------- */
/* Start of Services Page */

.container-our-services {
    background-color: #1a8f297e;
    width: auto;
    margin-top: 30px;
}

.services-container {
    text-align: center;
    margin: -21px 0px 0;
    top: 50%;
    bottom: 50%;
    height: 300px;
    width: 100%;
    background-color: #ffffff;
}

#image-truck {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.grid-services {
    display: grid;
    grid-template-columns: 49% 49%;
    padding-top: 3%;
    gap: 30px;
    grid-row-start: 1;
    grid-row-end: 2;

}

.text-services {
    margin-top: 10%;
    text-align: left;
    padding: 30px;
    font-size: 20px;

}



.footer-services {
    display: grid;
    place-items: center;
    height: 450px;
    width: 100;
    background-image: url("assets/tall.jpg");
    background-position: center;

}


/* -------------- Portfolio Page --------------------- */

.portfolio {
    background-color: #6c9c737e;
}

/* Position the image container (needed to position the left and right arrows) */
.container-lawns {
    margin-left: 10%;
    position: relative;
    width: 80%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 30px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 30px 12px;
    position: absolute;
    top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* --------------------------------------------------------------------------- */
/* Start of Seasonal Page */


.container-seasonal-services {
    text-align: center;
    margin: -21px 0px 0;
    top: 50%;
    bottom: 50%;
    height: 400px;
    width: 100%;
    background-color: #ffffffff;
}

.grid-seasonal-services {
    display: grid;
    grid-template-columns: 49% 49%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    gap: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-seasonal-services {
    display: grid;
    place-items: center;
    height: 450px;
    width: 100;
    background-image: url("assets/tall.jpg");
    background-position: center;
}